@model Wubblog.Web.Models.IndexViewModel
@{
	Layout = "Views/Shared/_LayoutPage.cshtml";
}
			<article>
				@foreach(Entry entry in Model.Entries)
				{
					<section>
						<h2><a href="/@entry.Reference/">@entry.Title</a></h2>
						<p>@entry.Description</p>
						<p>Published: @entry.PublishDate.ToString("dd MMM yyyy") Comments: @entry.Comments.Count</p>
						<a href="/@entry.Reference/">Read more</a>
					</section>
				}
			</article>
			
			<aside>
				<h3>Welcome</h3>
				<p><strong>Wubblog</strong> is a lightweight blogging solution build using ASP.NET, NancyFx, Simple.Data and MySql.</p>
				<p>
					It's not intended to be an 'engine' like project which would be installed and receive updates, but rather a 
					'starter' project for you to build on top of by yourself.
				</p>
				<p>
					Of course, if you want to receive updates from the upstream (if and when they are made), 
					you can fork the project and maintain you're own version in a seperate branch. 
					You'll be entirely in control (and responsible) for merging changes into your own branch.
				</p>
			</aside>