@model Wubblog.Web.Models.IndexViewModel
@{
	Layout = "Views/Shared/_LayoutPage.cshtml";
}
			<article>
				@foreach(Entry entry in Model.Entries)
				{
					<section>
						<h2><a href="/@entry.Reference/">@entry.Title</a></h2>
						<p>@entry.Description</p>
						<p>Published: @entry.PublishDate.ToString("dd MMM yyyy") Comments: @entry.Comments.Count</p>
						<a href="/@entry.Reference/">Read more</a>
					</section>
				}
			</article>
			
			<aside>
				<h3>Welcome</h3>
				<p>
					<strong>Wubblog</strong> is (or will be) a lightweight blogging solution built using 
					ASP.NET, NancyFx, Simple.Data and MySql.
				</p>
				<p>
					More? <a href="https://github.com/findel/Wubblog">README</a>.
				</p>
			</aside>