@model Wubblog.Admin.Models.SignInViewModel
@{
	Layout = "Views/Shared/_LayoutPage.cshtml";
}
			
<fieldset>
	
	<legend>Sign in</legend>
	
	<label>
		Email address
		<input type="text" name="Email" />
	</label>
	
	<label>
		Password
		<input type="password" name="Password" />
	</label>
	
</fieldset>